@use '../../../dashboard.sass' as dash

:host
  display: block
  width: 100%
  min-width: 0px
  min-height: 0px
  max-height: 100%

.button
  display: inline-flex !important
  align-items: center !important
  justify-content: center !important
  height: auto
  min-height: 36px
  white-space: normal
  width: 60%
  min-width: 150px
  margin: 3px
  text-align: center

.project-download-container
  display: flex
  width: 100%
  flex-direction: column
  align-items: center !important
  justify-content: center !important
  margin-bottom: dash.$card-content-margin

.project-download-container > h3
  display: block
  text-align: center
  margin-bottom: 7px

.xls-button
  background-color: #1D6F42

.scrollable-content
  margin-top: 7px
  margin-bottom: 7px
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  justify-content: center
  align-content: flex-start
  margin-left: auto
  margin-right: auto