<mat-card>
  <mat-card-header>
    <mat-card-title> {{ curProj.name }} </mat-card-title>
    <mat-card-subtitle *ngIf="curProj.description">
      {{ curProj.description }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="project-download-container vertical-center horizontal-center">
      <h3>Use these buttons to store your work on your computer.</h3>
      <button type="submit" mat-flat-button color="primary" (click)="downloadProject()" class="xls-button">
        Export project spreadsheet (.xlsx) <mat-icon>save</mat-icon>
      </button>
      <button type="submit" mat-flat-button color="primary" (click)="downloadProject()">
        Backup project (.iuproj) <mat-icon>save</mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>