<div class="outer-card-title">
  <h1>Project Exporter </h1>
</div>
<mat-card appearance="outlined" class="outer-title">
  <mat-card-header>
    <mat-card-title>
      <h1>{{ curProj.name }}</h1>
    </mat-card-title>
    @if (curProj.description) {
    <mat-card-subtitle>
      {{ curProj.description }}
    </mat-card-subtitle>
    }
  </mat-card-header>


  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="project-download-container">
      <h3>Use these buttons to store your work on your computer.</h3>
      <a mat-flat-button class="button xls-button" color="primary" (click)="downloadProject()">
        Export project spreadsheet (.xlsx) <mat-icon>functions</mat-icon>
      </a>
      <a mat-flat-button class="button" color="primary" title="{{curProj.name}}"
        [href]="exporter.generateProjectJsonURI(curProj)" download="{{curProj.name}}.iuproj">
        Backup project (.iuproj) <mat-icon>save</mat-icon>
      </a>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content class="mat-card-dynamic-content">
    <gray-flex-container>
      <doc-card [file]="curProj.sourceDoc" [type]="'source'" (download)="downloadDoc(curProj.sourceDoc)" />
      @for (summary of curProj.summaryDocs; track summary) {
      <doc-card [file]="summary" [type]="'summary'" (download)="downloadDoc(summary)" />
      }
    </gray-flex-container>
  </mat-card-content>
</mat-card>