:host
  width: 290px
  height: 68px
  border-radius: 10px
  border-style: solid
  border-width: 1px
  border-color: rgba(0, 0, 0, 0.12)
  background: #FFF
  margin: 3px
  padding: 5px

.inner-card-flex
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.card-btn-layout
  display: flex
  flex-direction: column
  justify-content: center

.card-btn-layout > p, .card-btn-layout > a
  margin: 0

.source-icon
  color: #ffb300
  width: 64px
  height: 64px
  font-size: 64px

.summary-icon
  color: #3f51b5
  width: 64px
  height: 64px
  font-size: 64px

.xls-link
  color: #1D6F42
  cursor: pointer
  text-decoration: underline