<div class="scrollable-content">
  <mat-chip-set
    aria-label="sentence chips" class="iu-viewer">
    @for (seg of doc.getSegArray(); track seg) {
      @if (seg.type=='ghost') {
        <!--[selected]="seg.selected"-->
        <mat-chip class="iu-mat-chip" color="ghost-bubble" >
          {{seg.getText(doc, true)}}
        </mat-chip>
      } @else {
        <mat-chip class="iu-mat-chip" color="primary" selected [ngClass]="{
          'disc-iu' : doc.ius[seg.iu].disc
        }"> <!--[selected]="seg.selected"-->
          {{seg.getText(doc, true)}}
        </mat-chip>
      }
    }
  </mat-chip-set>
</div>