.file-selector-card
  min-height: 150px
  min-width: 300px

.uploader-buttons > button
  margin-left: 10px

.uploader-form
  width: 350px

.file-select-button, .file-name
  display: inline-block
  margin: 8px
