<mat-card class="file-selector-card">
  <mat-card-header>
    <mat-card-title *ngIf='mode=="source"'>Upload a Source file</mat-card-title>
    <mat-card-title *ngIf='mode=="summary"'>Upload a Summary file</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="uploader-buttons horizontal-center vertical-center">
    <input type="file" style="display: none" #fileInput accept=".json" (change)="onChangeFileInput()" />
    <button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
      <!--<mat-icon>attach_file</mat-icon>-->
      Select a file
    </button>

    <p class="file-name" *ngIf="!file; else fileName">No file was selected</p>
    <ng-template #fileName>
      <p class="file-name">{{ file?.name }}</p>
    </ng-template>
    <button mat-flat-button color="primary" (click)="this.loadJson()">Upload</button>
  </mat-card-content>
</mat-card>
