@use '../../../dashboard.sass' as dash

:host
  display: block
  width: 100%
  min-width: 0px
  min-height: 0px

.hint
  margin-bottom: 0.5em

.form-field
  width: 100%

.summaries-title > h2
  margin-bottom: 0px