<div #overlayOrigin class="project-manager">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="outer-card-title">
      <h1>Project Manager </h1>
    </div>
    <mat-card appearance="outlined" class="outer-title">
      <mat-card-content class="mat-card-dynamic-content">
        <label class="mat-caption hint"> Fields marked with an asterisk are required </label>
        <mat-form-field class="form-field">
          <mat-label for="">Project title</mat-label>
          <input matInput type="text" placeholder="Ex. Apollo 11" required autocomplete="off" id="title" name="title"
            formControlName="title" [value]="projTitle">
          @if (projectForm.controls.title.hasError('required')) {
          <mat-error>
            A project title is <strong>required</strong>
          </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Description</mat-label>
          <input matInput type="text" placeholder="Ex. A news article about the moon landing" autocomplete="off"
            id="description" name="description" formControlName="description" [value]="projDescription">
        </mat-form-field>
        <!-- Form control name is required here to record changes on the file selector -->
        <input type="file" hidden #sourceInput accept=".txt" (change)="onChangeSourceInput()"
          (cancel)="onSourcePickerCancel()" id="source" name="source" formControlName="source" />

        <mat-form-field class="form-field" [ngClass]="sourceFormFieldClass">
          <mat-label>Source text</mat-label>
          <!-- Form control name is required here to allow mat-error to appear according to changes to the visible input -->
          <input matInput placeholder="source.txt" readonly required (click)="onClickSourceForm()" #sourceForm
            autocomplete="off" [value]="sourceFormValue" formControlName="sourceValue">
          @if (sourceFile) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="removesourceFile()">
            <mat-icon>close</mat-icon>
          </button>
          }
          <mat-hint>Filetypes allowed: .txt</mat-hint>
          @if (projectForm.controls.sourceValue.hasError('required')) {
          <mat-error>
            A source document is <strong>required</strong>
          </mat-error>
          }
        </mat-form-field>
        <input type="file" style="display: none" #summaryInput accept=".txt" (change)="onChangeSummaryInput()"
          multiple />
        <span class="summaries-title">
          <h2>Summaries</h2>
        </span>
        <gray-flex-container>
          <!-- Print one minicard for each summary selected -->
          @for (summary of summaryFiles; track summary._id) {
          <app-summary-minicard [file]="summary" (close)="openDeleteSummaryDialog($event)">
          </app-summary-minicard>
          }
          <app-summary-minicard [new_file]="true" (new)="newSummary()">
          </app-summary-minicard>
        </gray-flex-container>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer>
        <button type="submit" mat-flat-button color="primary" [disabled]="!projectForm.valid">
          Save <mat-icon>save</mat-icon>
        </button>
        <button type="button" (click)="openDeleteProjectDialog()" class="button-align-right" mat-flat-button
          color="warn" [disabled]="!projectForm.valid">
          Delete Project <mat-icon>delete</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </form>
</div>