<mat-card class="document-card" *ngIf="text">
  <mat-card-header>
    <mat-card-title>{{text.doc_name}}</mat-card-title>
    <mat-card-subtitle>{{text.doc_type}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="mat-card-dynamic-content" [ngSwitch]="selectedView">
      <!-- Text View -->
      <div *ngSwitchCase="'textView'" class="scrollable-content">
        <p *ngFor="let sent of sents">
          {{getSentText(sent)}}
        </p>
      </div>
      <!-- IU View -->
      <div *ngSwitchCase="'iuView'" class="card-content-with-toolbar">
        <!-- IU MODE -->
        <div class="scrollable-content" *ngIf="bubbleMode=='iu'">
          <mat-chip-list
            aria-label="sentence chips" class="iu-bubbles">
            <mat-chip
              *ngFor="let seg of segs" color="primary" (click)="bubbleClick(seg)" [selected]="seg.selected">
              {{getSegText(seg, true)}}
            </mat-chip>
          </mat-chip-list>
        </div>
        <!-- WORD MODE -->
        <div class="scrollable-content" *ngIf="bubbleMode=='word'">
          <mat-chip-list
            aria-label="sentence chips" class="word-bubbles">
            <mat-chip
              *ngFor="let word of words" [color]="word.color" [selected]="word.selected" (click)="wordClick(word)">
              {{word.text}}
            </mat-chip>
          </mat-chip-list>
        </div>
        <div>
          <mat-divider></mat-divider>
          <div class="card-toolbar vertical-center" *ngIf="bubbleMode=='iu'">
            <button mat-flat-button color="accent"
            [disabled]="!allowIuEdit" (click)="engageEditIuMode()">
              Edit IU  <mat-icon>create</mat-icon>
            </button>
            <button mat-flat-button color="primary" [disabled]="!allowIuCreation">
              Create IU  <mat-icon>add_comment</mat-icon>
            </button>
          </div>
          <div class="card-toolbar vertical-center save-theme" *ngIf="bubbleMode=='word'">
            <div class="expanding">
              <button mat-flat-button color="primary" class="save-cancel-btn" (click)="iuEditSave()">
                Save  <mat-icon>save</mat-icon>
              </button>
            </div>
            <button mat-flat-button color="accent" class="save-cancel-btn" (click)="iuEditCancel()">
              Cancel  <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- Edit text View -->
      <div *ngSwitchCase="'editTextView'" class="card-content-with-toolbar">
        <div>
        <mat-form-field appearance="outline" class="input-field">
          <textarea matInput class="edit-text-field">{{getDocText()}}</textarea>
        </mat-form-field>
        </div>
        <div>
          <mat-divider></mat-divider>
          <div class="card-toolbar horizontal-center vertical-center">
            <button mat-flat-button color="primary">
              Upload modified text
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--
    <mat-tab-group class="doc-viewer-mat-tab">
      <mat-tab label="Plain text">

      </mat-tab>
      <mat-tab label="Idea Units">


      </mat-tab>
    </mat-tab-group>
    -->
  </mat-card-content>
</mat-card>
