.sidenav-container
  height: 100%

.sidenav
  width: 200px

.sidenav .mat-toolbar
  background: inherit

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.mat-drawer-content
  background-color: #eeeeee

.toolbar-end
  height: 100%
  width: 100%
  display: flex
  justify-content: flex-end
  align-items: center

.title-div
  position: relative
  cursor: pointer

.title-span
  z-index: 1

.version-tag
  position: absolute
  bottom: -15px
  right: -75px
  background-color: #d32f2f
  color: #FFF
  font-weight: 300
  transform: rotate(-4deg)
  padding: 5px
  font-size: 16px
  height: 22px
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  border-radius: 8px
  font-family: 'Merriweather Sans'
  font-style: italic
  z-index: -1