<mat-sidenav-container class="sidenav-container">
  <!--
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!--
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      -->
      <div class="title-div" [routerLink]="['/']">
        <span class="title-span">SAT</span>
        <span class="version-tag">version 0.1.0</span>
      </div>
      <div class="toolbar-end">
        <div class="guide-button">
          <a href="./guide">
          <button
            mat-flat-button
            color="primary"
            >
            Guide
          </button>
          </a>
        </div>
        <app-nav-auth-widget></app-nav-auth-widget>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
