.container
  position: absolute
  display: flex
  height: calc(100% - 64px)
  width: 100%

.mat-card
  width: auto

.mat-card-content
  width: auto
  height: auto

.card-container
  display: flex
  align-items: center

.subtitle
  margin-bottom: 5px

.card-content-with-toolbar
  display: grid
  height: 100%
  grid-template-rows: auto 40px

.card-toolbar
  height: 40px

.card-toolbar > button
  margin-right: 0px
