<mat-card class="file-selector-card">
  <mat-card-header>
    <mat-card-title *ngIf='mode=="source"'>Upload a Source file</mat-card-title>
    <mat-card-title *ngIf='mode=="summary"'>Upload a Summary file</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="uploader-buttons horizontal-center vertical-center">
    <!-- Upload raw text file -->
    <div class="file-selector-row">
      <input type="file" style="display: none" #fileInput accept=".txt" (change)="onChangeFileInput()" />
      <button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
        <!--<mat-icon>attach_file</mat-icon>-->
        Select a new file
      </button>

      <p class="file-name" *ngIf="!file; else rawFileName">No file was selected</p>
      <ng-template #rawFileName>
        <p class="file-name">{{ file?.name }}</p>
      </ng-template>
      <button mat-raised-button class="file-select-button" color="primary" (click)="this.loadTxt()">Upload file</button>
    </div>
    <!-- Load from disk backup -->
    <div class="file-selector-row">
      <input type="file" style="display: none" #backupFileInput accept=".json" (change)="onChangeBackupFileInput()" />
      <button mat-raised-button color="primary" class="file-select-button" (click)="onClickBackupFileInputButton()">
        <!--<mat-icon>attach_file</mat-icon>-->
        Select a backup file
      </button>

      <p class="file-name" *ngIf="!backupFile; else backupFileName">No file was selected</p>
      <ng-template #backupFileName>
        <p class="file-name">{{ backupFile?.name }}</p>
      </ng-template>
      <button mat-raised-button class="file-select-button" color="primary" (click)="this.loadJson()">Load from disk</button>
    </div>
  </mat-card-content>
</mat-card>
