@use '../../dashboard.sass' as dash

.page-container
  position: absolute
  width: 100%
  height: calc(100% - dash.$navbar-height)

.container-404
  position: relative
  display: inline-block
  cursor: pointer

.title-404
  font-family: 'Merriweather Sans'
  font-style: oblique
  font-size: 250px
  color: #9e9e9e
  text-align: center
  line-height: 1
  padding-right: 0.15em //Necessary due to italics

.subtitle-404
  position: absolute
  left: 0
  top: 50%
  transform: translateY(-50%)
  width: 100%
  height: 50px
  font-family: "Montserrat"
  font-weight: 600
  color: #757575
  font-size: 40px
  background-color: #eeeeee
  text-align: center
  display: flex
  align-items: center
  justify-content: center
