:host
  width: inherit
  height: inherit

.source-editor
  height: 100%
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: flex-start
  align-contet: flex-start

.inner-content-area
  flex-grow: 10
  height: 0px
  width: 100%
  padding-bottom: 5px

.toolbar-area
  flex-grow: 0

.mat-tab-group
  height: 100%
  width: inherit

.scrollable-content
  height: 100%

.monospace-editor //pre
  tab-size: 4
  padding: 0px

.monospace-editor
  white-space: pre-line
  display: block

.monospace-editor>div
  display: block
  width: 100%

  //background: #eceff1

  //border-bottom-width: 1px
  //border-bottom: solid
  //border-color: #cfd8dc

.monospace-editor>div:nth-child(2n)
  background: #e3f2fd

  //border-bottom-width: 1px
  //border-bottom: solid
  //border-color: #bbdefb