.dash-grid
  display: grid
  grid-row-gap: 10px
  grid-template-columns: 500px
  grid-template-rows: auto 250px auto

.grid-cell
  height: 250px
  grid-column: 1
  grid-row: 2

.mat-card
  width: 500px
  height: 250px
  max-width: 500px
  max-height: 600px
  padding-bottom: 5px

.title-container
  display: flex
  align-items: flex-end
  grid-column: 1
  grid-row: 1

.h1-title
  margin-left: 5px
  margin-bottom: 0px
  font-style: italic
  font-weight: lighter
  color: #3f51b5

.control-container
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  margin-top: 20px
