<div class="dash-grid mode-single">
  <div class="grid-cell summary-cell-display-single">
    <div class="outer-card-title">
      <h1 class="main-title">SAT - Segmentation and Alignment Tool</h1>
    </div>
    <mat-card appearance="outlined" class="outer-title">
      <mat-card-content>
        <p>Welcome to the Segmentation and Alignment Tool - SAT.<br>
        This website utilises cookies to store your data and progress.<br>
        Your activity is profiled to improve the performance of automatic segmentation tools.<br>
        The documents you upload through this website are collected for research purposes.<br>
        By using this toolkit you consent to share your private data.<br>
        </p>
        <br>
        <p>Please log in with your Google account.</p>
        <div class="control-container">
          <button mat-flat-button color="warn" (click)="googleLogin()"><!--(click)="authenticate()"-->
            Log In
          </button>
        </div>
      </mat-card-content>
        <mat-divider></mat-divider>
      <mat-card-content>
        <div class="control-container">
          <button mat-flat-button color="accent" (click)="goOffline()"><!--(click)="authenticate()"-->
            Offline Mode
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
