<div class="dash-grid horizontal-center">
  <div class="title-container">
    <h1 class="mat-display-1 h1-title">SAT</h1>
  </div>
  <div class="grid-cell horizontal-center vertical-center">
    <mat-card class="mat-card">
      <mat-card-content class="card-content-with-toolbar">
        <p>Welcome to the Segmentation and Alignment Tool - SAT.<br>
        This website utilises cookies to store your data and progress.<br>
        Your activity is profiled to improve the performance of automatic segmentation tools.<br>
        The documents you upload through this website are collected for research purposes.<br>
        By using this toolkit you consent to share your private data.<br>
        </p>
        <br>
        <div>Please log in with your Google account.</div>
        <div class="control-container">
          <button mat-flat-button color="warn" (click)="googleLogin()"><!--(click)="authenticate()"-->
            Log In
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
