<div class="scrollable-content">
  <mat-chip-set
    aria-label="sentence chips"
    class="summary-link-theme">

    @for (seg of doc.getSegArray(); track seg) {
      @if (selected_summary_iu && selected_summary_iu.linkedIus.includes(seg.iu)) {
        <mat-chip class="iu-mat-chip" color="lime-bubble" (click)="linkClick(seg)" selected>
          {{ seg.getText(doc, true) }}
        </mat-chip>
      } @else if (selected_summary_iu && sims && topNSims(selected_summary_iu, 3).includes(seg.iu)) {
        <mat-chip class="iu-mat-chip" color="suggested-link" (click)="linkClick(seg)" selected>
          {{ seg.getText(doc, true) }}
        </mat-chip>
      } @else if (seg.type == 'ghost') {
        <mat-chip class="iu-mat-chip"  color="ghost-bubble" (click)="linkClick(seg)" selected>
          {{ seg.getText(doc, true) }}
        </mat-chip>
      } @else {
        <mat-chip
          class="iu-mat-chip" 
          color="primary"
          (click)="linkClick(seg)"
          selected
          [ngClass]="{
            'disc-iu': doc.ius[seg.iu].disc
          }">
          {{ seg.getText(doc, true) }}
        </mat-chip>
      }
    }
  </mat-chip-set>
</div>