
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$summary-eval-primary: mat-palette($mat-indigo);
//$summary-eval-accent: mat-palette($mat-pink, A200, A100, A400);
$summary-eval-accent: mat-palette($mat-amber);

// The warn palette is optional (defaults to red).
$summary-eval-warn: mat-palette($mat-red, 800);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$summary-eval-theme: mat-light-theme((
  color: (
    primary: $summary-eval-primary,
    accent: $summary-eval-accent,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($summary-eval-theme);

//Default button themes
$def-button-primary: mat-palette($mat-grey, 300);
$def-button-accent: mat-palette($mat-indigo);
$def-button-warn: mat-palette($mat-red, 600);
$def-button-theme: mat-light-theme((
  color:(
    primary: $def-button-primary,
    accent: $def-button-accent,
    warn: $def-button-warn,
  )
));

$iu-bubbles-primary: mat-palette($mat-light-blue);
$iu-bubbles-accent: mat-palette($mat-yellow);
$iu-bubbles-warn: mat-palette($mat-grey, 300);
$iu-bubbles-theme: mat-light-theme((
  color:(
    primary: $iu-bubbles-primary,
    accent: $iu-bubbles-accent,
    warn: $iu-bubbles-warn,
  )
));

$word-bubbles-primary: mat-palette($mat-grey, 300);
$word-bubbles-accent: mat-palette($mat-teal, A400);
$word-bubbles-warn: mat-palette($mat-deep-orange);
$word-bubbles-theme: mat-light-theme((
  color:(
    primary: $word-bubbles-primary,
    accent: $word-bubbles-accent,
    warn: $word-bubbles-warn,
  )
));

$save-primary: mat-palette($mat-green, 600);
$save-accent: mat-palette($mat-red, 600);
$save-warn: mat-palette($mat-orange, 500);
$save-theme: mat-light-theme((
  color:(
    primary: $save-primary,
    accent: $save-accent,
    warn: $save-warn,
  )
));

$summary-link-primary: mat-palette($mat-grey, 300);
$summary-link-accent: mat-palette($mat-light-green, A700);
$summary-link-warn: mat-palette($mat-yellow, 500);
$summary-link-theme: mat-light-theme((
  color:(
    primary: $summary-link-primary,
    accent: $summary-link-accent,
    warn: $summary-link-warn,
  )
));

$summary-link-primary: mat-palette($mat-grey, 300);
$summary-link-accent: mat-palette($mat-light-green, A700);
$summary-link-warn: mat-palette($mat-yellow, 500);
$summary-link-theme: mat-light-theme((
  color:(
    primary: $summary-link-primary,
    accent: $summary-link-accent,
    warn: $summary-link-warn,
  )
));

.def-button{
  @include angular-material-color($def-button-theme)
}

.iu-bubbles{
  @include angular-material-color($iu-bubbles-theme)
}
.word-bubbles{
  @include angular-material-color($word-bubbles-theme)
}

.save-theme{
  @include angular-material-color($save-theme)
}

.summary-link-theme{
  @include angular-material-color($summary-link-theme)
}

.mat-lime-bubble{
  color: #000 !important;
  background-color: #b2ff59 !important;
}

.mat-green-bubble{
  color: #000 !important;
  background-color: #81c784 !important;
}

.disc-iu{
  border: 2px !important;
  border-style: dashed !important;
  border-color: #64b5f6 !important;
}

.mat-ghost-bubble{
  color: #e53935 !important;
  background-color: #fafafa !important;
  border: 2px !important;
  border-style: dashed !important;
  border-color: #e53935 !important;
}

.mat-ghost-bubble::after{
  background-color: #e53935 !important;
}

.mat-suggested-link{
  color: #ff7043 !important;
  background-color: #fbe9e7 !important;
  border: 2px !important;
  border-style: solid !important;
  border-color: #ff7043 !important;
}

.mat-suggested-link::after{
  background-color: #e53935 !important;
}

.mat-selected-link{
  color: #000 !important;
  background-color: #ffee58 !important;
}

.mat-linked-link{
  color: #000 !important;
  background-color: #64dd17 !important;
}

.mat-linked-link-selected{
  color: #000 !important;
  background-color: #76ff03 !important;
}

.warn-tooltip{
  color: rgba(198, 40, 40, 1) !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  background-color: #ffebee !important;
  border: 1px dashed;
  border-color: rgba(198, 40, 40, 1) !important;
}

html, body { height: 100%; }
body { margin: 0; }

.cdk-overlay-backdrop{
  border-radius: inherit;
}

// typography
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:     mat-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:     mat-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1:     mat-typography-level(36px, 42px, 400),
  $headline:      mat-typography-level(26px, 34px, 400),
  $title:         mat-typography-level(22px, 34px, 400),
  $subheading-2:  mat-typography-level(18px, 30px, 400),
  $subheading-1:  mat-typography-level(17px, 26px, 400),
  $body-2:        mat-typography-level(16px, 26px, 450),
  $body-1:        mat-typography-level(16px, 22px, 400),
  $caption:       mat-typography-level(14px, 22px, 400),
  $button:        mat-typography-level(16px, 16px, 400),
  $input:         mat-typography-level(inherit, 1.125, 400)
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);
