.grid-container
  margin: 10px

.dashboard-card
  position: absolute
  top: 10px
  left: 10px
  right: 10px
  bottom: 10px

.more-button
  position: absolute
  top: 5px
  right: 10px

.dashboard-card-content
  text-align: center

.dash-grid
  display: grid
  grid-column-gap: 5px
  grid-template-columns: 500px 110px 500px
  grid-template-rows: 600px
  margin-top: 30px
  margin-left: auto
  margin-right: auto


.grid-cell
  height: 600px
