// CENTER CONTAINER
.grid-container
  margin: 10px

.dashboard-card
  position: absolute
  top: 10px
  left: 10px
  right: 10px
  bottom: 10px

.more-button
  position: absolute
  top: 5px
  right: 10px

.dashboard-card-content
  text-align: center

// GRID AND CELL POSITIONS

$card-width-side-by-side: 530px
$card-max-width-side-by-side: 550px

$card-width-alone: 700px
$card-max-width-alone: 800px

$toolbar-width: 90px

$card-height: 600px
$card-max-height: 600px

$card-margin: 12px //horizontal margin
$card-content-margin: 6px //vertical margin

$card-header-height: 64px
$card-header-margin: 10px

.dash-grid
  display: grid
  grid-column-gap: 5px
  grid-template-columns: auto auto auto
  grid-template-rows: auto
  margin-top: 30px
  margin-left: auto
  margin-right: auto

.grid-cell
  height: $card-height

.summary-cell-display-both
  grid-area: left
  display: block
  order: 1
  width: $card-width-side-by-side

.summary-cell-display-source
  disply: none

.summary-cell-display-summary
  grid-area: left
  display: block
  order: 1
  width: $card-width-alone
  max-width: $card-max-width-alone

.toolbar-cell
  grid-area: toolbar
  order: 2
  width: $toolbar-width

.source-cell-display-both
  grid-area: right
  order: 3
  width: $card-width-side-by-side

.source-cell-display-source
  order: 1
  grid-area: left
  width: $card-width-alone
  max-width: $card-max-width-alone

.source-cell-display-summary
  disply: none

// CARDS
.mat-card
  padding: 0px !important
  width: inherit

.mat-card-content
  margin: $card-margin !important

.mat-card-header
  padding-top: $card-header-margin
  height: $card-header-height

.mat-card-dynamic-content
  padding-top: $card-content-margin
  padding-bottom: $card-content-margin
  width: inherit
  height: calc(#{$card-height} - #{$card-header-height} - #{$card-header-margin} - #{$card-content-margin * 2})

.scrollable-content
  height: inherit
  overflow: hidden
  overflow-x: hidden
  overflow-y: auto


// HEADER

.card-title
  display: block
  font: (400 22px Roboto, "Helvetica Neue", sans-serif)
  color: rgba(0, 0, 0, 0.87)

.card-subtitle
  display: block
  font: (400 16px Roboto, "Helvetica Neue", sans-serif)
  color: rgba(0, 0, 0, 0.54)

.card-header, .header-flex
  height: $card-header-height
  padding-top: $card-header-margin

.header-flex
  display: flex
  flex-direction: row
  justify-content: space-between
  align-content: center
  height: 100%

// Toolbar

.card-toolbar
  height: 50px

.card-toolbar > button
  margin-right: 7px