<div class="horizontal-center vertical-center container">
  <mat-card class="mat-card">
    <mat-card-content class="card-content-with-toolbar">
      <div class="card-container">
        <div>
          <h3>User error</h3>
          <h4 class="subtitle">There is something wrong with your user data.<br>
            Please log in again
          </h4>
        </div>
      </div>
      <div>
        <div class="card-toolbar vertical-center horizontal-center">
          <button mat-flat-button color="primary" (click)="redirectToLogin()">
            Log in
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>