@use '../../dashboard.sass' as dash

:host ::ng-deep .mm code
  background-color: #000
  color: #fff

:host ::ng-deep .md img
  display: block
  max-width: 90% !important
  margin-top: 15px
  margin-bottom: 15px
  margin-left: auto
  margin-right: auto

:host ::ng-deep .md h1,
  :host ::ng-deep .md h2,
  :host ::ng-deep .md h3
  margin-top: 15px

markdown
  height: calc(100% - 2 * dash.$card-margin)
  width: calc(100% - 2 * dash.$card-margin)
  padding: dash.$card-margin

.spacer
  display: block
  height: dash.$navbar-height