<div class="vertical-center horizontal-center dash-toolbar">
  <mat-list role="list">
    <mat-list-item>
      <button mat-flat-button (click)="clickToolbar('textView')" [color]="tv_color">
        <mat-icon>subject</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-flat-button (click)="clickToolbar('editTextView')" [color]="etv_color">
        <mat-icon>create</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-flat-button (click)="clickToolbar('iuView')" [color]="iv_color">
        <mat-icon>mode_comment</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item>
      <button mat-flat-button (click)="clickToolbar('linkIuView')" [color]="liv_color">
        <mat-icon>link</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</div>
